/* FOCADO NO FILME ENROLADOS */

body {
  background-color: #FEF5E7
  ;
}

.container {
  width: 80%;
  margin: auto;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #5D4037;
  
}

h1{
  text-align: center;
} 

.item1{
  font-size: 24px;
  margin-top: 20px;
  color: black;
  bla
}  